  <%= render 'shared/errors', obj: @category %>
<%= form_with(model: @category, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
    <div class = "form-group row">
        <%= f.label :name, "Category Name", class: "col-2 col-form-label text-light" %><br/>
        <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Enter a category name" %><br/>
    </div>
    <div class="form-group d-grid gap-2 col-2 mx-auto">
        <%= f.submit class: "btn btn-outline-light btn-lg" %>                
    </div><br/>          
<%end%>